//base
@import "base/reset";
@import "base/vars";

//components
@import "components/boton";
@import "components/footer";
@import "components/header";
@import "components/navbar";

//layouts
@import "layouts/index";
@import "layouts/sitact";
@import "layouts/distribucion";
@import "layouts/noticias";
@import "layouts/contacto";
@import "layouts/mediaqueries";









