/*FOOTER*/

footer {
    background-color: #f8a66f;
    bottom: 0;
    height: auto;
    width: 100%;

    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
      margin: 0;

      .footer-img{
          width: 200px;
          height: 200px;
          margin: 30px;
          border-radius: 100%;
        }
    }
}