
// MIXINS INDEX 

@mixin hero-content($direction, $justify, $align, $min-height, $max-height, $font-size) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    min-height: $min-height;
    max-height: $max-height;
    font-size: $font-size;
  }
  
  @mixin hero-content-img($width, $height, $object){
    width: $width;
    height: $height;
    object-fit: $object;
  }
  
  @mixin hero-item($direction, $justify, $align, $position, $padding, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    position: $position;
    padding: $padding;
    gap: $gap;
  }
  
  @mixin hero-item-p ($font-size, $font-family){
    font-family: $font-family;
    font-size: $font-size;
  }
  
  // MIXINS SITACT

  @mixin sit ($width, $height, $padding) {
    width: $width;
    height: $height;
    padding: $padding;
  }
  
  @mixin sit-content-p ($width, $height, $font-family, $font-size, $padding, $text-align, $overflow, $border-radius) {
    width: $width;
    height: $height;
    font-family: $font-family;
    font-size: $font-size;
    padding: $padding;
    text-align: $text-align;
    overflow: $overflow;
    border-radius: $border-radius;
  }

  @mixin act ($width, $height, $padding) {
    display: flex;
    width: $width;
    height: $height;
    padding: $padding;
  }
  
  @mixin act-content-img ($width, $height, $border-radius, $right) {
    width: $width;
    height: $height;
    border-radius: $border-radius;
    right: $right;
  }

  @mixin act-content-p ($width, $height, $padding, $align-items, $font-family, $font-size, $text-align, $border-radius) {
    display: flex;
    width: $width;
    height: $height;
    padding: $padding;
    align-items: $align-items;
    font-family: $font-family;
    font-size: $font-size;
    text-align: $text-align;
    border-radius: $border-radius;
  }

  // MIXINS DISTRIBUCION

  @mixin dis ($flex-direction, $flex-wrap, $width, $padding, $align-content, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    width: $width;
    padding: $padding;
    align-content: $align-content;
    justify-content: $justify-content;
    align-items: $align-items;
  }
  
  @mixin dis-content ($width, $height, $padding, $text-align, $border-radius) {
    width: $width;
    height: $height;
    padding: $padding;
    text-align: $text-align;
    border-radius: $border-radius;
  }

  //MIXINS NOTICIAS

  @mixin cards ($flex-wrap, $justify-content, $gap, $padding, $margin) {
    display: flex;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    gap: $gap;
    padding: $padding;
    margin: $margin;
  }

  @mixin card-img ($width, $height, $padding, $object-fit) {
    width: $width;
    height: $height;
    padding: $padding;
    object-fit: $object-fit;
  }

  @mixin card-h2-p ($flex-direction, $justify-content, $align-items, $padding, $gap) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    padding: $padding;
    gap: $gap;
  }

  @mixin card-a ($width, $padding, $font-weight, $font-size, $text-decoration, $text-align, $border, $border-radius, $font-family, $text-transform, $position) {
    width: $width;
    padding: $padding;
    font-weight: $font-weight;
    font-size: $font-size;
    text-decoration: $text-decoration;
    text-align: $text-align;
    border: $border;
    border-radius: $border-radius;
    font-family: $font-family;
    text-transform: $text-transform;
    position: $position;
  }
    