/*MAIN DISTRIBUCION*/

.dis {
  @include dis (row, wrap, 100%, 20px, center, center, center);
    
    .dis-content {
      background-color: #ffac5f;
      border: 5px ridge  #f8a66f;
      @include dis-content (1100px, auto, 20px, justify, 5px);

        p {
          font-family: 'Kanit';
          font-size: 1.7rem;
        }
    }
}

/* carousel */

#carouselExample {
    width: 100%;
    height: auto;
    padding: 10px;
    
    .carousel-inner,
    .carousel-item {
      height: 700px;
      transition: 1s;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
}