/*MAIN DISTRIBUCION*/

.dis {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    .dis-content {
        text-align: justify;
        background-color: #ffac5f;
        border: 5px ridge  #f8a66f;
        width: 800px;
        height: 420px;
        padding: 20px;
        border-radius: 5px;

        p {
          font-family: 'Kanit';
          font-size: 1.7rem;
        }
    }
}

/* carousel */

#carouselExample {
    width: 100%;
    height: auto;
    padding: 10px;
    
    .carousel-inner,
    .carousel-item {
      height: 700px;
      transition: 1s;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
}