/*MAIN NOTICIAS*/

.cards {
    @include flex (none, wrap, space-evenly, none , none);
    gap: 30px;
    padding: 20px;
    margin: 50px;
    
    .card {

        @include flex (column, none, space-evenly, center, none);
        background-color: #ff9a3c;
        text-align: center;
        width: 400px;
        padding: 15px;
        border-radius: 10px;
        color: white;
        transition: 1s;
        
        img {
            @include img (100%, 400px, cover);
            padding: 10px;
        }

        h2,
        p {

            @include flex (column, none, center, flex-start, none);
            color: rgb(63, 63, 63);
            text-align: start;
            padding: 20px;
            gap: 10px;
        }

        a {
            display: inline-block;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            background-color: rgb(255, 167, 95);
            padding: 15px;
            color: #000;
            width: 300px;
            text-align: center;
            border-radius: 6em;
            transition: all .2s;
            border: none;
            font-weight: 500;
            @include font (18px, 'Galdeano');
            
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 10px 15px rgba(255, 115, 0, 0.726);
            }
    
            &:active {
                transform: translateY(-1px);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            }
    
            &::after {
                content: "";
                display: inline-block;
                height: 100%;
                width: 100%;
                border-radius: 100px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all .4s;
            }
    
            &::after {
                background-color: #ff8c2d;
            }
    
            &:hover::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }


        h2 {
            @include font (24px, 'Galdeano');
        }

        p {
            @include font (16px, 'Kanit');
        }
        
        &:hover {
            transform: scale(1.1, 1.1);
        }

    }

    &:hover > .card:not(:hover) {
        filter: blur(3px);
        transform: scale(0.9, 0.9);
    }
  }

.cias {
    height: 1000px;
    background-image: url(../imagenes/Yaguareteacostadoo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    position: relative;
    
    .cias-content {
        iframe {
            width: 700px;
            height: 450px;
            border: none;
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}