/*MAIN SITUACION ACTUAL*/

.sit {
    background-image: url(../imagenes/yaguareteacostado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include sit (100%, 1000px, 200px);
    
    .sit-content {  
        p {
            background-color: #4b833a; 
            opacity: 0.9;
            @include sit-content-p (100%, auto, 'Kanit', 2rem, 20px, justify, hidden, 10px);
        }
    }
}


.act {
    position: relative;
    @include act (100%, 1200px, 100px);
    
    .act-content {
        display: grid;
        align-items: center;
        
        img {
            position: absolute;
            @include act-content-img (700px, 1000px, 10px, 55%);
        }

        p {
            border: 5px ridge  #f8a66f;
            background-color: #ffac5f;
            position: absolute;
            left: 55%;
            @include act-content-p (800px, auto, 35px, center, 'Kanit', 2.2rem, justify, 5px);
        }
    }
}