/*MAIN SITUACION ACTUAL*/

.sit {
    width: 100%;
    height: 1000px;
    padding: 200px;
    background-image: url(../imagenes/yaguareteacostado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    .sit-content {  
        p {
            background-color: #4b833a; 
            width: 100%;
            height: 270px;
            font-size: 2rem;
            font-family: 'Kanit';
            padding: 20px;
            text-align: justify;
            opacity: 0.9;
            border-radius: 10px;
            overflow: hidden;
        }
    }
}


.act {
    width: 100%;
    height: 1200px;
    padding: 100px;
    display: flex;
    position: relative;
    
    .act-content {
        display: grid;
        align-items: center;
        
        img {
            width: 700px;
            height: 1000px;
            border-radius: 10px;
            position: absolute;
            right: 55%;
        }

        p {
            display: flex;
            align-items: center;
            font-family: 'Kanit';
            font-size: 2.2rem;
            background-color: #ffac5f;
            border: 5px ridge  #f8a66f;
            width: 800px;
            height: 900px;
            padding: 35px;
            text-align: justify;
            border-radius: 5px;
            position: absolute;
            left: 55%;
        }
    }
}